.multi-step-form {
  min-height: 100vh;
  @include flexbox();
  @include flex-direction(column);
  @include justify-content(center);


  .multi-step-form__fieldset {
    @include flexbox();
    @include flex-direction(column);
    @include justify-content(center);
  }

  .multi-step-form-navigation, {
      margin: 1em;

      button {
        background: get-color(clouds);
        color: get-color(taunt);
        padding: 0.5em 1em;
        margin: 0.4em;
        width: 160px;

        &:disabled {
           opacity: 0.4;
        }
      }
  }
}

.one-step-form {

  .one-step-form__fieldset {
    @include flexbox();
    @include flex-direction(column);
    @include justify-content(center);
  }

  .one-step-form-navigation {
    margin: 1em;

    button {
      background: get-color(clouds);
      color: get-color(taunt);
      padding: 0.5em 1em;
      margin: 0.4em;
      width: 160px;

      &:disabled {
        opacity: 0.4;
      }
    }
  }
}

