$colors: (
  white: (
    base: #FFF,
  ),
  taunt: (
    base: #3C5471,
    lightest: #B0B0E3,
    lighter: #4C6A8F,
  ),
  clouds: (
    base: #CAC194,
    lighter: #D6D0AD,
  ),
  boognish: (
    base: #848482,
  ),
  shadow: (
    base: #24272A,
  ),
  neutral: (
    base: #DEDEDE,
  ),
  success: (
    base: #109847,
  ),
  failed: (
    base: #EC512F,
  )
);