$colors: (
  white: (
    base: #FFF,
  ),
  hiro: (
    base: #111130,
    lightest: #B0B0E3,
    lighter: #1B1B4B,
  ),
  corn: (
    base: #ECE753,
  ),
  crayola: (
    base: #F9C784,
  ),
  eerie: (
    base: #161515,
  ),
  cultured: (
    base: #F0F0F0,
    darker: #9E9E9E,
    darkest: #636363
  ),
  success: (
    base: #2AB881,
  ),
  failed: (
    base: #C60125,
  )
);